body
{
    font-size:100%;
    background-color:rgb(141, 141, 141);
    margin-left: 15cm;
    margin-right: 15cm;

}


h1{
    font-family: 'Smooch Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

p {
    font-family:'Smooch Sans', sans-serif;
    color: palevioletred;
    
}

em {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 116, 192);
}

strong {
    font-weight: bold;
    border-color: aquamarine;
}



.tomato {
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

