em {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 116, 192);
}

strong {
    font-weight: regular;
    border-color: rgb(182, 255, 231);
}


.highlight {
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

body
{
    font-size:100%;
    background-color:rgb(251, 255, 0);

}
.header
{
    text-align:center;
    font-size:4em;
    font-family:sans-serif;
    background-color:blue;
}
h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }

h2 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;;
  border-radius: 4px;
  border-style: dashed;
}

.tomato {
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 10px;
  padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;;
}

  p {
    font-family: "HK Grotesk", sans-serif;  
    font-size: 12px;
    line-height: 50%;
  }